html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title
        block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    // STYLESHEETS
    //if lt IE 9
    script(src='#{STATIC_URL}js/underscore.js')
    link(rel='stylesheet', type='text/css', href='#{STATIC_URL}css/cloud-admin.css')
    link#skin-switcher(rel='stylesheet', type='text/css', href='#{STATIC_URL}css/themes/default.css')
    link(rel='stylesheet', type='text/css', href='#{STATIC_URL}css/responsive.css')
    link(href='#{STATIC_URL}font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='#{STATIC_URL}js/bootstrap-daterangepicker/daterangepicker-bs3.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    block css
  body
    // HEADER
    header#header.navbar.clearfix
      .container
        .navbar-brand(style="width: 350px")
          // COMPANY LOGO
          i.fa.fa-graduation-cap
          img.img-responsive(src='#{STATIC_URL}img/studybuddy.png')
          // /COMPANY LOGO
        ul#navbar-left.nav.navbar-nav.pull-left.hidden-xs
        // /NAVBAR LEFT
        // BEGIN TOP NAVIGATION MENU
        ul.nav.navbar-nav.pull-right
          // BEGIN NOTIFICATION DROPDOWN
          block notifications
          // END NOTIFICATION DROPDOWN
          // BEGIN USER LOGIN DROPDOWN
          li#header-user.dropdown.user
            if SMUser
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span.username= SMUser.username
                |&nbsp;
                i.fa.fa-angle-down
            else
              a.dropdown-toggle(href="/user/login")
                span.username Login
            ul.dropdown-menu
              li
                a(href='/user/logout/')
                  i.fa.fa-power-off
                  |  Log Out
          // END USER LOGIN DROPDOWN
        // END TOP NAVIGATION MENU
    // /HEADER
    // PAGE
    section#page
      // SIDEBAR
      if SMUser
        #sidebar.sidebar
          .sidebar-menu.nav-collapse
            .divide-20
            // SEARCH BAR
            #search-bar
              input.search(type='text', placeholder='Search')
              i.fa.fa-search.search-icon
            // /SEARCH BAR
            // SIDEBAR MENU
            ul
              li
                a(href='/dashboard/')
                  i.fa.fa-tachometer.fa-fw
                  span.menu-text Dashboard
              li
                a(href='/map/')
                  i.fa.fa-map-marker.fa-fw
                  span.menu-text Map
      // /SIDEBAR
      #main-content
        .container
          .row
            #content.col-lg-12
              // PAGE HEADER
              .row
                block page_header
              // /PAGE HEADER
              .row
                block page_content
    // /PAGE
    // JAVASCRIPTS
    // Placed at the end of the document so the pages load faster
    // JQUERY
    script(src='#{STATIC_URL}js/jquery/jquery-2.0.3.min.js')
    // JQUERY UI
    script(src='#{STATIC_URL}js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')
    // SELECT2
    script(src='#{STATIC_URL}select2/js/select2.full.min.js', type="text/javascript")
    link(rel='stylesheet', href='#{STATIC_URL}select2/css/select2.min.css')
    // BOOTSTRAP
    script(src='#{STATIC_URL}bootstrap-dist/js/bootstrap.min.js')
    // DATE RANGE PICKER
    script(src='#{STATIC_URL}js/bootstrap-daterangepicker/moment.min.js')
    script(src='#{STATIC_URL}js/bootstrap-daterangepicker/daterangepicker.min.js')
    // SLIMSCROLL
    script(type='text/javascript', src='#{STATIC_URL}js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js')
    script(type='text/javascript', src='#{STATIC_URL}js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js')
    // COOKIE
    script(type='text/javascript', src='#{STATIC_URL}js/jQuery-Cookie/jquery.cookie.min.js')
    // CUSTOM SCRIPT
    //script(src='#{STATIC_URL}js/script.js')

    block post_scripts